<div class="layuimini-container layuimini-page-anim">
    <button type="button" class="layui-btn layui-btn-danger" id="xiu">休市</button>
    <button type="button" class="layui-btn layui-btn-danger" id="kai">开市</button>
    <div class="layuimini-main">

        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="add">修改</a>
        </script>
    </div>
</div>

<script src="/js/forecast.js"></script>
