<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">
        <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
        <script type="text/html" id="currentTableBar">
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="dili">抛出</a>
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="add">购买</a>
        </script>
    </div>
</div>

<script src="/js/havestocklist.js"></script>
