<style>
    .layui-form-item  {
        width: auto;
        padding-right: 10px;
        line-height: 38px;
    }
</style>
<div className="layuimini-container layuimini-page-anim">
    <div className="layuimini-main">
        <div className="layui-form layuimini-form">
            <div className="layui-form-item">
                <label className="layui-form-label">股票名</label>
                <div className="layui-input-inline" style="width: auto;padding-right: 10px;line-height: 38px"><span id="stockname">数据待处理</span></div>
                <div className="layui-form-mid layui-word-aux"></div>
            </div>
            <div className="layui-form-item">
                <label className="layui-form-label">股票代码</label>
                <div className="layui-input-inline " style="width: auto;padding-right: 10px;line-height: 38px"><span id="code">数据待处理</span></div>
                <div className="layui-form-mid layui-word-aux"></div>
            </div>
            <div className="layui-form-item">
                <label className="layui-form-label">类型</label>
                <div className="layui-input-inline "style="width: auto;padding-right: 10px;line-height: 38px"><span id="type">数据待处理</span></div>
                <div className="layui-form-mid layui-word-aux"></div>
            </div>
            <div className="layui-form-item">
                <label className="layui-form-label">今日开盘价</label>
                <div className="layui-input-inline" style="width: auto;padding-right: 10px;line-height: 38px"><span id="open">数据待处理</span></div>
                <div className="layui-form-mid layui-word-aux"></div>
            </div>
            <div className="layui-form-item">
                <label className="layui-form-label">昨日收盘价</label>
                <div className="layui-input-inline " style="width: auto;padding-right: 10px;line-height: 38px"><span id="close">数据待处理</span></div>
                <div className="layui-form-mid layui-word-aux"></div>
            </div>
            <div className="layui-form-item">
                <label className="layui-form-label">实时价格</label>
                <div className="layui-input-inline " style="width: auto;padding-right: 10px;line-height: 38px"><span id="price">数据待处理</span></div>
                <div className="layui-form-mid layui-word-aux"></div>
            </div>
            <div className="layui-form-item">
                <label className="layui-form-label">开盘后价格变化</label>
                <div className="layui-input-inline" style="width: auto;padding-right: 10px;line-height: 38px"><span id="priceChange">数据待处理</span></div>
                <div className="layui-form-mid layui-word-aux"></div>
            </div>
            <div className="layui-form-item">
                <label className="layui-form-label">价格变化(百分比)</label>
                <div className="layui-input-inline" style="width: auto;padding-right: 10px;line-height: 38px"><span id="changePercent">数据待处理</span></div>
                <div className="layui-form-mid layui-word-aux"></div>
            </div>
            <div className="layui-form-item">
                <label className="layui-form-label">开盘后最高价</label>
                <div className="layui-input-inline" style="width: auto;padding-right: 10px;line-height: 38px"><span id="high">数据待处理</span></div>
                <div className="layui-form-mid layui-word-aux"></div>
            </div>
            <div className="layui-form-item">
                <label className="layui-form-label">开盘后最低价</label>
                <div className="layui-input-inline" style="width: auto;padding-right: 10px;line-height: 38px"><span id="low">数据待处理</span></div>
                <div className="layui-form-mid layui-word-aux"></div>
            </div>
            <div className="layui-form-item">
                <label className="layui-form-label">成交量</label>
                <div className="layui-input-inline" style="width: auto;padding-right: 10px;line-height: 38px"><span id="volume">数据待处理</span></div>
                <div className="layui-form-mid layui-word-aux"></div>
            </div>

            <div className="layui-form-item">
                <label className="layui-form-label">成交额(万)</label>
                <div className="layui-input-inline" style="width: auto;padding-right: 10px;line-height: 38px"><span id="turnover">数据待处理</span></div>
                <div className="layui-form-mid layui-word-aux"></div>
            </div>
            <div className="layui-form-item">
                <label className="layui-form-label">换手率(百分比)</label>
                <div className="layui-input-inline" style="width: auto;padding-right: 10px;line-height: 38px"><span id="turnoverRate">数据待处理</span></div>
                <div className="layui-form-mid layui-word-aux"></div>
            </div>
            <div className="layui-form-item">
                <label className="layui-form-label">总市值(亿)</label>
                <div className="layui-input-inline" style="width: auto;padding-right: 10px;line-height: 38px"><span id="totalWorth">数据待处理</span></div>
                <div className="layui-form-mid layui-word-aux"></div>
            </div>
            <div className="layui-form-item">
                <label className="layui-form-label">流通市值</label>
                <div className="layui-input-inline" style="width: auto;padding-right: 10px;line-height: 38px"><span id="circulationWorth">数据待处理</span></div>
                <div className="layui-form-mid layui-word-aux"></div>
            </div>
            <div className="layui-form-item">
                <label className="layui-form-label">数据更新时期</label>
                <div className="layui-input-inline" style="width: auto;padding-right: 10px;line-height: 38px"><span id="date">数据待处理</span></div>
                <div className="layui-form-mid layui-word-aux"></div>
            </div>

            <div className="layui-form-item">
                <label className="layui-form-label">市净率</label>
                <div className="layui-input-inline" style="width: auto;padding-right: 10px;line-height: 38px"><span id="pb">数据待处理</span></div>
                <div className="layui-form-mid layui-word-aux"></div>
            </div>
            <div className="layui-form-item">
                <label className="layui-form-label">静态市盈率</label>
                <div className="layui-input-inline" style="width: auto;padding-right: 10px;line-height: 38px"><span id="spe">数据待处理</span></div>
                <div className="layui-form-mid layui-word-aux"></div>
            </div>
            <div className="layui-form-item">
                <label className="layui-form-label">市盈率</label>
                <div className="layui-input-inline "style="width: auto;padding-right: 10px;line-height: 38px"><span id="pe">数据待处理</span></div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['form', 'jquery'], function () {
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery;

        var code = sessionStorage.getItem("stockcode")
        console.log(code)
        $.post("http://localhost:8080/stockinfo", {
            code: code
        }, data => {
            // 回调函数
            $("#stockname").text(data.data.name);
            $("#code").text(data.data.code);
            $("#type").text(data.data.type);
            $("#open").text(data.data.open);
            $("#close").text(data.data.close);
            $("#price").text(data.data.price)
            $("#priceChange").text(data.data.priceChange);
            $("#changePercent").text(data.data.changePercent);
            $("#high").text(data.data.high);
            $("#low").text(data.data.low);
            $("#volume").text(data.data.volume);
            $("#turnover").text(data.data.turnover);
            $("#turnoverRate").text(data.data.turnoverRate);
            $("#totalWorth").text(data.data.totalWorth);
            $("#circulationWorth").text(data.data.circulationWorth);
            $("#date").text(data.data.date);
            $("#spe").text(data.data.spe);
            $("#pb").text(data.data.pb);
            $("#pe").text(data.data.pe);
            console.log(data.data.code)
        })

    });
</script>
